# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.prof

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/barco

# Local tests with multiple instances
**/home*/

#mkdocs
site/
.idea
*.iml
.vscode
.project
.settings
/Pipfile
/Pipfile.lock