name: Go

on:
  push:
    branches:
      - main
      - debug
  pull_request:
    branches: [ main ]

env:
  BARCO_GOSSIP_PORT: 9044

jobs:

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 8
    steps:
    - uses: actions/checkout@v2

    - uses: actions/cache@v2
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Check ports in use
      run: sudo lsof -i -P -n | grep LISTEN

    - name: Build
      run: go build -v ./...

    - name: Unit tests
      run: go test -v ./...

    - name: Integration tests
      run: go test -v -tags=integration -p=1 ./internal/test/integration
